body,html,ul{
    padding: 0;
    margin: 0;
  }
  a{
    text-decoration: none;
  }
  li{
    list-style: none;
  }
  .clearfloat:after{
    display:block;
    clear:both;
    content:"";
    visibility:hidden;
    height:0;
  }
  .float-left{
      float: left;
  }
  .float-right{
      float: right;
  }